.socialProfileSection {
    padding: 75px 0;
    background: white;
    display: flex;
    justify-content: center;

}

.socialProfile {
    width: 251px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.15);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.avatar {
    width: 100px;
    padding: 30px 0;
    border-radius: 50%;
    margin: 0 0 10px 0;
}

.text:not(:last-child) {
    margin: 0 10px 10px 0;
}

.list {
    display: flex;
    justify-content: space-around;
    /*padding-right: 20px;*/
    background-color: #f3f6f9;
    margin: 0;
    text-align: center;
    /*background: #f3f6f9;*/
    list-style: none;


}

.item {
    flex: 1 0 33.3%;
    padding: 10px 0;
    border-top: 1px solid #e4e9f0;

}

.item:not(:last-child) {
    border-right: 1px solid #e4e9f0;
}

.textSpan {
    display: block;
    text-transform: capitalize;
    font-size: 13px;
}

.textName {
    color: #525d6b;
    font-weight: 800;
}

.text {
    color: #b4bdc5;
}

