.statisticsSection {
    padding: 30px 0;
    background: white;
    display: flex;
    justify-content: center;
}
.stats {
    background: #fff;
}
.title {
    text-transform: uppercase;
    text-align: center;
    color: #52575B;
    padding: 20px 0;
}
